//colors

$primary: #f5e39b;
$secondary: #020341;

$dark: #020341;
$light: #f5e39b;

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors, (
    "dark-blue": #27385b,
    "light-blue":  rgb(75,112,173),
    "orange":  #e9ab74,
    "saturated-yellow":  #fad783
));

$dark-blue: #27385b;
$light-blue: rgb(75,112,173);
$saturated-yellow: #fad783;
$orange: #e9ab74;


@import "fonts.scss";
@import "bootstrap/scss/variables";
@import "home.scss";
@import "nav.scss";
@import "fonts.scss";
@import "animations.scss";
@import "footer.scss";
@import "person.scss";

*{
    font-family: 'Teachers', 'Trebuchet MS', sans-serif;
}

*::selection {
  color: $primary;
  background-color: $secondary;
}

:root{
    width: 100%;
}

html, body {
    overflow-x: hidden;
    touch-action: pan-y;
}

p {
    font-family: 'Montserrat';
}

.landing-img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.box{
    color: white !important;
}


.box h2 {
    font-size: max(2.5vw, 1em);
    font-weight:100;
    width: max(300px, 50vw);

}

.box h1{
    padding-right: 1rem;
    font-weight: bold;
    font-size: max(2.5em, 4vw);
    margin-bottom: 0rem;
}

.box {
    position: absolute;
    top: 70%;
    left: 5%;
    font-weight: normal;
    width: 100%;
}

.section{
    padding: 10vw 19vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    text-align: center;
}

.section-wide{
    padding: 10vw 5vw;

}

.section-medium{
    padding: 10vw 15vw;
}

.section h1, .section-wide h1{
    font-weight: bold;
    font-size: max(4vw, 1.75rem);
}

.section p{
    font-size: 1em;
}

.yellow{
    background-color: $primary;
    color: $secondary;
}

.marine{
    background-color: $secondary;
    color: $primary;
}


.dark-blue{
    background-color: $dark-blue;
    color: white;
}

.light-blue{
    background-color: $light-blue;
    color: white;
}

.spacer{
    width: 100%;
    height: 50px;
}

.card{
    width: 30%;
    border: none;
    border-radius: 20px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;

}

.card-img{
    height: max(200px, 20vw);
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card-title{
    font-weight: bold;
    font-size: max(2vw, 1.5rem);
}

.card-text{
    font-size: 1.2rem;
}

@media (max-width: 500px){
    .section, .section-wide{
        padding: 1.5rem;
    }
    .section text{
        font-size: 1rem;
    }
    .box{
        top: 40%;
    }
    .landing-img{
        height: 400px;
    }

    .card{
        width: 100%;
    }
    .card-text{
        font-size: 1rem;
    }
    .cards{
        flex-direction: column;
    }
    .card-body{
        text-align: left;
        padding: 1rem;
    }
    #navlogo{
        height: 35px;
    }

    .mobile-spacer{
        height: 90px;
        width: 100%;
    }
}
