
@font-face {
  font-family: 'Teachers';
  src: url('../assets/fonts/Teachers-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Teachers';
  src: url('../assets/fonts/Teachers-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Teachers';
  src: url('../assets/fonts/Teachers-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Teachers';
  src: url('../assets/fonts/Teachers-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Teachers';
  src: url('../assets/fonts/Teachers-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Teachers';
  src: url('../assets/fonts/Teachers-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Teachers';
  src: url('../assets/fonts/Teachers-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face{
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}