.page-not-found {
    width: 100vw;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.page-not-found h1 {
    font-weight: bold;
}
